@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* Reset padding, margin and set box-sizing */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

/* Center the content vertically and horizontally */
html,
body {
    display: grid;
    height: 100%;
    place-items: center;
}

/* Set background image for the body */
body {
    background-image: url("images/background.jpg");
    background-size: cover;
}

/* Wrapper styles */
.wrapper {
    z-index: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    width: 20rem;
    height: 20rem;
    border-top: 2px double #ffffff92;
    border-bottom: none;
    border-left: 2px outset #0000007e;
    border-right: 2px solid #e94fcab3;
    border-radius: 1.8rem;
    background-origin: border-box;
    background-clip: content-box, border-box;
    filter: hue-rotate(-15deg) drop-shadow(0px 30px 10px #00000028) saturate(2);
    background: linear-gradient(64.14deg,
            #b938ff 0%,
            #daa1f1 10%,
            #f179ec 15.58%,
            #fefffe 28.15%,
            #fc9f9d 45.31%,
            #ed8664 53.18%,
            #ff7423 58.79%,
            #ff875f 65.28%,
            #fbabae 75.48%,
            #fcbde5 85.31%,
            #e94fca 100.29%);
    transition: all 0.5s;
}

/* Glass effect styles */
.glass {
    z-index: 10;
    display: flex;
    border: double 2px rgba(255, 255, 255, 0.263);
    backdrop-filter: blur(2px);
    filter: blur(1px) brightness(1.1) saturate(50%) hue-rotate(30deg);
    border-radius: 1.6rem;
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: #ffffff1c;
    background-origin: content-box;
    background-clip: content-box, border-box;
    box-shadow: inset 0 0 10px #a84fd88d;
}

/* Inner glass effect styles */
.inner-glass {
    z-index: 10;
    display: flex;
    border-left: 1px solid rgba(255, 255, 255, 0.564);
    border-right: 1px solid rgb(255, 255, 255);
    backdrop-filter: blur(40px);
    box-shadow: inset 0 0 20px rgba(246, 142, 213, 0.86);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 0.6rem;
    width: 100%;
    height: 100%;
    background-origin: border-box;
    background-clip: content-box, border-box;
    filter: brightness(140%);
}

/* Smoke effect container */
.smoke {
    z-index: 90;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
}

/* Cloud styles */
.cloud {
    position: absolute;
    border-radius: 9999px;
}

/* Specific styles for each cloud */
.cloud:nth-of-type(1) {
    display: flex;
    left: 1.6rem;
    top: 0.2rem;
    width: 10rem;
    height: 1rem;
    background: linear-gradient(to right,
            rgba(255, 255, 255, 0.868) 30%,
            transparent 100%);
    filter: blur(3px) drop-shadow(-2px 0 3px #ffffff);
}

.cloud:nth-of-type(2) {
    left: 2.5rem;
    top: 2rem;
    width: 4rem;
    height: 2rem;
    background: radial-gradient(circle,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0) 70%);
    filter: drop-shadow(-10px 10px 3px #d277cc);
}

.cloud:nth-of-type(3) {
    left: 10rem;
    top: 0.5rem;
    width: 5rem;
    height: 5rem;
    background: radial-gradient(circle,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0) 50%);
    filter: drop-shadow(-5px -5px 7px #ff5500b4);
}

.cloud:nth-of-type(4) {
    left: 17rem;
    top: 1rem;
    width: 3.4rem;
    height: 4rem;
    background: radial-gradient(circle,
            rgba(255, 255, 255, 1) 0%,
            transparent 70%);
    filter: drop-shadow(-1px 0 30px #ff002f);
}

.cloud:nth-of-type(5) {
    top: 0.5rem;
    width: 100%;
    height: 0.7rem;
    background: radial-gradient(circle,
            rgba(255, 255, 255, 0.293) 30%,
            rgba(255, 181, 21, 0.164) 50%,
            rgba(234, 44, 255, 0.419) 60%,
            rgba(255, 255, 255, 0) 90%);
}

.cloud:nth-of-type(6) {
    left: 17.6rem;
    top: -0.1rem;
    width: 2rem;
    height: 2rem;
    background: radial-gradient(circle,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0) 70%);
}

.cloud:nth-of-type(7) {
    left: 7.6rem;
    transform: rotate(-35deg);
    top: -2rem;
    width: 2rem;
    height: 5rem;
    background: radial-gradient(circle,
            rgba(255, 255, 255, 0.614) 0%,
            #fd87602d 60%,
            rgba(255, 255, 255, 0) 100%);
}

.cloud:nth-of-type(8) {
    left: 5.5rem;
    top: -1rem;
    width: 3rem;
    height: 3rem;
    background: radial-gradient(circle,
            rgba(255, 255, 255, 0.614) 0%,
            rgba(255, 255, 255, 0) 80%);
}

.cloud:nth-of-type(9) {
    filter: blur(1px) drop-shadow(0px 0 3px #ffffff);
    left: 0.5rem;
    bottom: 1.4rem;
    width: 100%;
    height: 0.1rem;
    background: radial-gradient(circle,
            rgba(255, 255, 255, 1) 50%,
            rgba(255, 255, 255, 0) 90%);
}

.cloud:nth-of-type(10) {
    display: flex;
    left: 0.3rem;
    top: 1rem;
    width: 1rem;
    height: 3rem;
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-bottom: none;
    background: linear-gradient(to bottom,
            rgba(255, 255, 255, 0.419) 0%,
            transparent 50%);
    filter: blur(1px) drop-shadow(0px 0 3px #ffffff);
}

.cloud:nth-of-type(11) {
    display: flex;
    left: 12rem;
    top: 3.5rem;
    width: 5rem;
    height: 1.8rem;
    background: radial-gradient(circle,
            rgba(255, 255, 255, 0.773) 10%,
            rgba(255, 255, 255, 0.159) 60%);
    border-radius: 100%;
    filter: blur(4px) drop-shadow(0px -10px 10px #ff5107fb);
}

.cloud:nth-of-type(12) {
    display: flex;
    left: 11rem;
    top: 1.1rem;
    width: 6rem;
    height: 0.3rem;
    background: radial-gradient(circle,
            rgba(255, 255, 255, 0.973) 30%,
            rgba(255, 255, 255, 0.159) 100%);
    filter: blur(2px) drop-shadow(0px -10px 10px #f36b9d);
}

.cloud:nth-of-type(13) {
    display: flex;
    left: 8rem;
    top: 3.7rem;
    width: 5.5rem;
    height: 1.7rem;
    background: radial-gradient(circle,
            rgba(255, 255, 255, 0.762) 10%,
            rgba(255, 255, 255, 0.159) 70%);
    filter: blur(3px) drop-shadow(-15px 0 5px #f8283d9e);
}

.cloud:nth-of-type(14) {
    transform: rotate(-35deg);
    display: flex;
    left: 0.5rem;
    bottom: 0.3rem;
    width: 0.5rem;
    height: 1.2rem;
    background: radial-gradient(circle,
            rgba(255, 255, 255, 0.848) 0%,
            rgba(255, 255, 255, 0.159) 60%);
    filter: blur(1px) drop-shadow(10px -10px 10px #6f0424);
}

/* Content container styles */
.content {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 90;
    align-items: center;
    justify-content: center;
}

/* Heading styles */
.heading {
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
}

/* Field container styles */
.content .field {
    width: 100%;
}

/* Input field styles */
.content input {
    border: 0;
    outline: 0;
    width: 70%;
    padding: 10px 0px;
    border-bottom: 2px solid #4f4e4f;
    margin: 10px;
    background: transparent;
    color: #2c2a2a;
    transition: 0.1s ease-in-out;
    font-size: 14px;
}

/* Placeholder text styles */
.content input::placeholder {
    color: #393839;
}

/* Input field focus styles */
.content input:focus {
    border-bottom: 2px solid #2d2c2d;
}

/* Button styles */
.join-btn {
    border: 0;
    outline: 0;
    width: 70%;
    margin-top: 20px;
    font-size: 1rem;
    font-weight: 400;
    padding: 10px 20px;
    background: #a401fc8d;
    color: #fff;
    letter-spacing: 1px;
    border-radius: 12px;
    text-transform: uppercase;
    cursor: pointer;
    border-top: 2px double #ffffff92;
    border-bottom: none;
    border-left: 2px outset #0000007e;
    border-right: 2px solid #e94fcab3;
}

/* Button hover styles */
.join-btn:hover {
    background: #9201e18d;
}